/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Shared Styles  */
.btn-primary {
    background-color: rgb(255, 155, 97);
    border: 0px;
    padding: 20px 25px;
    color: white;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.text-light-gray {
    color: rgb(156, 156, 156);
}

* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Header Start */

header {
    background-color: rgb(255, 245, 232);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

ul>li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

a {

    text-decoration: none;
    color: black;
}

.nav-logo {
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
}

/* Header End */

/* Banner Contents start */

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: black;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}



.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Banner Contents end */

main{
    max-width: 1440px;
    margin: 70px auto;
}


/* Feature section Start */

.teams-container{
    display: flex;
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content{
    padding: 0px 70px;
}

.teams-title{
    font-size: 2.8rem;
}

.span-1{
    color: gray;
    font-weight: 500;
}

.span-2, .span-3{
    color: black;
    font-weight: 700;
}

.span-3{
    color: rgb(255, 155, 97);
}
/* Feature section End */


















/* Responsive Media and queries */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav, .teams-container {
        flex-direction: column;
    }

    .team-img-container{
    grid-template-columns: 1fr;

    }
    .teams-content{
        padding: 0px 20px;
    }

}

/* Tablet Device Reponsive */

@media screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav, .teams-container {
        flex-direction: column;
    }
}