/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Shared Styles  */
.btn-primary {
    background-color: rgb(255, 155, 97);
    border: 0px;
    padding: 20px 25px;
    color: white;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.text-light-gray {
    color: rgb(156, 156, 156);
}

* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Header Start */

header {
    background-color: rgb(255, 245, 232);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

ul>li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

a {

    text-decoration: none;
    color: black;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
}

/* Header End */

/* Banner Contents start */

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: black;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}



.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Banner Contents end */

main {
    max-width: 1440px;
    margin: 70px auto;
}


/* Feature section Start */

.teams-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding: 0px 70px;
}

.span-1 {
    color: gray;
    font-weight: 500;
}

.span-2,
.span-3 {
    color: black;
    font-weight: 700;
}

.span-3 {
    color: rgb(255, 155, 97);
}

/* Feature section End */



/* Some Facts Start */

.facts-card-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.facts-card-container .card {
    text-align: center;
    border: 1px solid rgb(247, 151, 113);
    padding: 30px;
    border-radius: 8px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0px 10px 0px;
}

.facts-card-container .card-title {
    font-size: 1.25rem;
    color: #424242;
    margin-top: 5px;
    font-weight: 600;
}

/* Some Facts End */

/* Sponors Start  */

.sponsors {
    text-align: center;
}


.sponsors-image-container {
    background-color: redf;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.sponsors-image-container>img {
    width: 165px;
}

/* Sponors End  */



/* Footer Start */

footer {
    width: 1440px;
    margin: 0px auto;
    text-align: center;
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
}

/* Footer End */
















/* Responsive Media and queries */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;

    }

    .teams-content {
        padding: 0px 20px;
    }

}

/* Tablet Device Reponsive */

@media screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    {
    flex-direction: column;
}
}